
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenitore div{
    background: rgb(163,255,158);
background: linear-gradient(180deg, rgba(163,255,158,1) 3%, rgba(255,255,255,1) 58%);
    width: 30%;
    height: 400px;
    text-align: center;
    padding: 3rem auto;
    margin: 1rem auto;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius:10%;
    box-shadow: 2px 2px 2px rgb(45, 104, 6);
}

@media screen and (min-width:768px){
    .contenitore div{width: 25%;}
}
@media screen and (min-width:1100px){
    .contenitore div{width: 20%;}
}
@media screen and (min-width:1500px){
    .contenitore div{width: 15%;}
}
.ico1, .ico2{
    border-radius: 50%;
    padding: 1rem;
    font-size: large;
}
.ico1{
    background-color: rgb(20, 238, 20);
}
.ico1:hover{
    background-color: rgb(8, 185, 8) ;
    animation: sopra 0.5s infinite;
}
.ico2{
    background-color: red;
    
}
.ico2:hover{
    background-color: rgb(168, 16, 16);
    animation: sopra 0.5s infinite;
}
button:hover{
    cursor: pointer;
    
}
@keyframes sopra {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }
 


div p button{
    border-radius: 20%;  
    padding: 0.5rem;
    margin: 0 0.2rem;
    font-size: larger;
    background-color: rgb(250, 186, 114);

}
div p button:hover{
    background-color: rgb(122, 72, 14);
    color: white;
    animation: pulsa 1s infinite ease-in-out alternate;
}

@keyframes pulsa {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
  }

footer{
    text-align: center;
    background-color: rgb(1, 87, 1);
    margin: 0 0;
    height: 3rem;
}
footer p {
    color: white;
    font-size: large;
    font-style: italic;
}
